.alerta {
  display: none;
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 10;
  width: 100%;
  text-align: center;
}
.alerta.active {
  display: block;
  animation: fadeInDown 0.3s forwards;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.alerta_mensagem {
  background: white;
  display: inline-block;
  padding: 20px 40px;
  border: 2px solid black;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.2);
}
