<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="./vue.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css" />
  <title>Techno</title>
</head>

<body>
  <div id="app">
    <section class="modal" v-if="produto" @click="fecharModal">
      <div class="modal_container">
        <div class="modal_img">
          <img :src="produto.img" :alt="produto.nome">
        </div>
        <div class="modal_dados">
          <!-- botão fecha modal -->
          <button class="modal_fechar" v-if="produto" @click="produto=false">X</button>
          <span class="modal_preco">{{produto.preco}}</span>
          <h2 class="modal_titulo">{{produto.nome}}</h2>
          <p>{{produto.descricao}}</p>
          <button class="modal_btn">Adicionar item</button>
        </div>
        <div class="modal_aliacao">
          <h2 class="avalicoes_subtitulo">Avaliações</h2>
          <ul class="lista_avalicao">
            <li class="avaliacao" v-for="avaliacao in produto.reviews">
              <p class="avaliacao_descricao">{{avaliacao.descricao}}</p>
              <p class="avaliacao_usuario">{{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="produtos">
      <!-- o @click ao click nele, vai puxar a função do fetch do produto, pegado o valor id para somente falar com único produto específico 'fetchProduto(item.id)' é importante lembra que tem que ter um forEach dos item de lista, se não, não faz sentido.-->
      <div class="produto" v-for="item in produtos" @click="abrirModal(item.id)" :key="item.id">
        <img class="produto_img" :src="item.img" :alt="item.nome">
        <div class="produto_info">
          <span class="produto_preco">{{item.preco | formatarValorReal}}</span>
          <h2 class="produto_subtitulo">{{item.nome}}</h2>
        </div>
      </div>
    </section>
  </div>

  <script src="./app.js"></script>
</body>

</html>